- name: Include distribution specific variables.
  include_vars: "distribution_{{ ansible_distribution }}.yml"

- name: Include distribution version specific variables when available.
  include_vars:
    dir: 'vars'
    files_matching: "{{ item }}"
    depth: 1
  with_items:
    - "distribution_{{ ansible_distribution }}{{ ansible_lsb.major_release }}.yml"

- block:

  - name: Install libssl dependency.
    package:
      name: "libssl{{ aem_dispatcher_libssl_version }}"
      state: present

  - name: Create compatibility links.
    file:
      src: "{{ aem_dispatcher_libssl_path }}/{{ item }}.{{ aem_dispatcher_libssl_version }}"
      dest: "{{ aem_dispatcher_libssl_path }}/{{ item }}.10"
      state: link
    with_items:
      - libssl.so
      - libcrypto.so

  when: aem_dispatcher_ssl_support

- name: Make dispatcher module available.
  copy:
    dest: "{{ apache_server_root }}/mods-available/dispatcher.load"
    content: "LoadModule dispatcher_module {{ aem_dispatcher_module_path }}/mod_dispatcher.so"
  notify:
    - restart apache

- name: Enable dispatcher module.
  apache2_module:
    name: dispatcher
    state: present
  notify:
    - restart apache