---
- name: Install setuptools package.
  package:
    name: python-setuptools

- name: Install pip.
  easy_install:
    name: pip

- name: Install boto3 dependency.
  pip:
    name: boto3

- name: Download Dispatcher artifact from S3.
  s3:
    bucket: "{{ aem_dispatcher_s3_bucket }}"
    object: "{{ aem_dispatcher_s3_object }}"
    dest: "{{ aem_dispatcher_download_path }}/{{ aem_dispatcher_tarball_name }}"
    mode: get
    aws_access_key: "{{ aem_dispatcher_s3_access_key | default(omit) }}"
    aws_secret_key: "{{ aem_dispatcher_s3_secret_key | default(omit) }}"
